<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% extends 'admin/base_site.html' %}
{% block content %}
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.0/dist/chart.min.js"></script>
    </head>
    {% if user.is_active and user.is_staff %}
        <h1 class="text-center text-danger">TRANG THỐNG KÊ TỔNG QUAN</h1>
        <div class="flex">
            <h3><a href="order-stats/">Thống kê đơn hàng></a></h3>
        </div>
        <br/>
        <div>
            <h3><a href="rating-stats/">Thống kê đánh giá></a></h3>
        </div>
        <br/>
        {% for p in total %}
            <h2>Doanh thu: {{ p.total }} VNĐ</h2>
        {% endfor %}
        <div>
            <canvas id="generalChart" width="200" height="50"></canvas>
        </div>

        {%block scripts%}
        <script>

            let a = [
                {{ customer_count }},
                {{ shipper_count }},
                {{ order_count }},
                {{ post_count }},
                {{ auction_count }},
                {{ rate_count }}
            ]
            const ctx = document.getElementById('generalChart').getContext('2d');
            const generalChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['Khách hàng', 'Shipper', 'Đơn hàng', 'Bài đăng đấu giá', 'Đấu giá', 'Đánh giá cộng đồng'],
                    datasets: [{
                        label: '',
                        data: a,
                        backgroundColor: [
                            'rgba(240, 67, 160, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 255, 26, 0.2)',
                            'rgba(123, 132, 192, 0.2)',
                            'rgba(150, 50, 255, 0.2)',
                            'rgba(100, 200, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(240, 67, 160, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(200, 20, 10, 1)',
                            'rgba(123, 132, 192, 1)',
                            'rgba(150, 50, 255, 1)',
                            'rgba(100, 200, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });

        </script>
        {% endblock scripts%}
        <div>
            <h2>Tổng khách hàng: {{ customer_count }}</span></h2>
            <h2>Đội ngũ shipper: {{ shipper_count }}</h2>
            <h2>Tổng đơn hàng hiện tại: {{ order_count }}</h2>
            <h2>Tổng bài đăng đấu giá chưa hoàn tất: {{ post_count }}</h2>
            <h2>Tổng lượt đấu giá của shipper: {{ auction_count }}</h2>
            <h2>Tổng lượt đánh giá của cộng đồng: {{ rate_count }}</h2>
        </div>

<!--Thống kê linh hoạt theo ngày tháng (not complete yet)-->
        <div class="flex">
            <form>
              <label>
                From date:
                <input type="date" name="from_date">
              </label>
            </form>
            <form>
              <label>
                To date:
                <input type="date" name="to_date">
              </label>
            </form>
        </div>



    {% endif %}
{% endblock %}
