<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% extends 'admin/base_site.html' %}
{% block content %}
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.0/dist/chart.min.js"></script>
    </head>
    {% if user.is_active and user.is_staff %}
        <form>
            <input type="button" value="<Back previous page " onclick="history.back()">
        </form>
        <h1 class="text-center text-danger">Thống kê đánh giá</h1>
        <div align="center" class="flex">
            <table class="table table-responsive" >
                <tr class="text-center">
                    <th>Điểm đánh giá</th>
                    <th>Số lượt đánh giá</th>
                </tr>
                {% for p in rates %}
                    <tr class="text-center">
                        <td> {{ p.rate }} </td>
                        <td> {{ p.quantity }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div>
            <canvas id="ratingChart" width="300" height="50"></canvas>
        </div>
        {%block scripts%}
        <script>

            let a = [
                {{ order_count }},
                {{ shipper_count }},
                {{ rate_count }}
            ]
            const ctx = document.getElementById('ratingChart').getContext('2d');
            const generalChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['Đơn hàng', 'Shipper', 'Đánh giá'],
                    datasets: [{
                        label: '',
                        data: a,
                        backgroundColor: [
                            'rgba(240, 67, 160, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 255, 26, 0.2)'
                        ],
                        borderColor: [
                            'rgba(240, 67, 160, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(200, 20, 10, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        </script>
        {% endblock scripts%}
         <div>
            <h2>Đội ngũ shipper: {{ shipper_count }}</h2>
            <h2>Tổng đơn hàng hiện tại: {{ order_count }}</h2>
            <h2>Tổng lượt đánh giá của cộng đồng: {{ rate_count }}</h2>
        </div>
    {% endif %}
{% endblock %}
